<p style="color: green"><%= notice %></p>

<h1 class="text-center mb-5">
  Photos
</h1><br>

<% @photos.each do |photo| %>
  <%= render photo %>
  <p>
    <%= link_to "Show photo", photo, class: "float-end text-success" %>
  </p>
<% end %>

<p>
  <%= link_to "New photo", new_photo_path %>
</p>
